<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>CountryDetails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">CountryDetails</ion-title>
    </ion-toolbar>
  </ion-header>



  <ion-card>
    <img src={{countryFlagUrl}} />
    <ion-card-header>
      <ion-card-title>{{countryName}}</ion-card-title>
      <ion-card-subtitle>Capital: {{countryCapital}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

        

      <p>{{ weatherInfo }}</p>
      <p>Languages:{{countryLanguages}}</p>
      <p>Population: {{countryPopulation}}</p>

      <ion-input label="Enter {{countryCurency}} amount" type="number" [(ngModel)]="amount" ></ion-input>
      <ion-button  (click)="convertCurrency() " [disabled]="!amount" >Covert to EUR</ion-button>

     
      <p  >{{amount}} {{countryCurency}} = {{money}} EUR</p>
    

    </ion-card-content>
<ion-button (click)="openHome()">Home</ion-button> 
<ion-button id="present-alert" fill="outline">Click Me to Get Random Fact</ion-button>
<ion-alert trigger="present-alert" header="Random Fact" message="{{funFact}}" [buttons]="alertButtons"></ion-alert>

  </ion-card>

<ion-card *ngFor="let newsItem of news">
  <ion-card-header>
    <ion-card-title>{{ newsItem.title }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    {{ newsItem.description }}
  </ion-card-content>
</ion-card>



 
  
</ion-content>


  